/*!
 * ALP Theme
 * Copyright 2014 RAND Corporation
 */
html {height:100%;}
body { background-color: #fefae9; height:100%; }
div.container { background-color: #fefae9; min-height:100%; }
div.main-content {padding-bottom: 10px;}
header.navbar {margin-bottom: 0; float:left; width:100%}
.navbar-inverse .navbar-brand.active { color: #ffffff; }
.navbar-brand img {margin-top:-10px;margin-left:-10px;}
.navbar-brand span {vertical-align:top;}
.text-alplabel {color:#fa6632; }
.text-vmiddle { vertical-align: middle !important; }
input, textarea, select[multiple] { background-image: inherit !important; }
.table-width-auto { width: auto; }
label.lbl-normal { font-weight: normal; }
select.form-control {width:auto;}
div.alp-page {padding-top:15px;padding-bottom:15px;}
img.img-logo-main {width:auto;}
.dkButton, .dkActiveButton, .rfButton, .rfActiveButton {-moz-user-select: none;background-image: none;border: 1px solid transparent;border-radius: 0;cursor: pointer;display: inline-block;font-size: 14px;font-weight: 400;line-height: 1.42857;margin-bottom: 0;padding: 6px 12px;text-align: center;vertical-align: middle;white-space: nowrap;color: #0a6789;background-color: transparent;box-shadow: none;border-color: transparent;}
.dkActiveButton, .rfActiveButton {color: #fa6632;font-weight: bold;}