#container {
	clear:both;
    width: 640px;
    position:relative;
}

#print-view #container {
    width: 900px;
}

#left-container, #right-container {
    color:#686c70;
    text-align: left;
    overflow: auto;
    background-color:#fff;
    background-repeat:no-repeat;
}

#left-container {
	height:240px;
	clear:both;
	float:left;
}

#right-container {
    right:0;
    background-position:center left;
}

#infovis {
    position:relative;
    width:640px;
    height:480px;
    margin:auto;
    background-color: #fff;
    overflow:hidden;
}

#print-view #infovis{
    width:900px;
    height:675px;
}