* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    margin:0;
    padding:0;
}

@font-face {
  font-family: 'Oswald Light';
  src: url('Oswald-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-black-webfont.eot');
  src: url('../fonts/lato/lato-black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-black-webfont.woff') format('woff'), url('../fonts/lato/lato-black-webfont.ttf') format('truetype'), url('../fonts/lato/lato-black-webfont.svg#latoblack') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-bold-webfont.eot');
  src: url('../fonts/lato/lato-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-bold-webfont.woff') format('woff'), url('../fonts/lato/lato-bold-webfont.ttf') format('truetype'), url('../fonts/lato/lato-bold-webfont.svg#latobold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-bolditalic-webfont.eot');
  src: url('../fonts/lato/lato-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-bolditalic-webfont.woff') format('woff'), url('../fonts/lato/lato-bolditalic-webfont.ttf') format('truetype'), url('../fonts/lato/lato-bolditalic-webfont.svg#latobold_italic') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-italic-webfont.eot');
  src: url('../fonts/lato/lato-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-italic-webfont.woff') format('woff'), url('../fonts/lato/lato-italic-webfont.ttf') format('truetype'), url('../fonts/lato/lato-italic-webfont.svg#latoitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-light-webfont.eot');
  src: url('../fonts/lato/lato-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-light-webfont.woff') format('woff'), url('../fonts/lato/lato-light-webfont.ttf') format('truetype'), url('../fonts/lato/lato-light-webfont.svg#latolight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-regular-webfont.eot');
  src: url('../fonts/lato/lato-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-regular-webfont.woff') format('woff'), url('../fonts/lato/lato-regular-webfont.ttf') format('truetype'), url('../fonts/lato/lato-regular-webfont.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Flat-UI-Icons';
  src: url('../fonts/Flat-UI-Icons.eot');
  src: url('../fonts/Flat-UI-Icons.eot?#iefix') format('embedded-opentype'), url('../fonts/Flat-UI-Icons.woff') format('woff'), url('../fonts/Flat-UI-Icons.ttf') format('truetype'), url('../fonts/Flat-UI-Icons.svg#Flat-UI-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'Flat-UI-Icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="fui-"] {
*/
.fui-arrow-right,
.fui-arrow-left,
.fui-cmd,
.fui-check-inverted,
.fui-heart,
.fui-location,
.fui-plus,
.fui-check,
.fui-cross,
.fui-list,
.fui-new,
.fui-video,
.fui-photo,
.fui-volume,
.fui-time,
.fui-eye,
.fui-chat,
.fui-search,
.fui-user,
.fui-mail,
.fui-lock,
.fui-gear,
.fui-radio-unchecked,
.fui-radio-checked,
.fui-checkbox-unchecked,
.fui-checkbox-checked,
.fui-calendar-solid,
.fui-pause,
.fui-play,
.fui-check-inverted-2 {
  display: inline-block;
  font-family: 'Flat-UI-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
.fui-arrow-right:before {
  content: "\e02c";
}
.fui-arrow-left:before {
  content: "\e02d";
}
.fui-cmd:before {
  content: "\e02f";
}
.fui-check-inverted:before {
  content: "\e006";
}
.fui-heart:before {
  content: "\e007";
}
.fui-location:before {
  content: "\e008";
}
.fui-plus:before {
  content: "\e009";
}
.fui-check:before {
  content: "\e00a";
}
.fui-cross:before {
  content: "\e00b";
}
.fui-list:before {
  content: "\e00c";
}
.fui-new:before {
  content: "\e00d";
}
.fui-video:before {
  content: "\e00e";
}
.fui-photo:before {
  content: "\e00f";
}
.fui-volume:before {
  content: "\e010";
}
.fui-time:before {
  content: "\e011";
}
.fui-eye:before {
  content: "\e012";
}
.fui-chat:before {
  content: "\e013";
}
.fui-search:before {
  content: "\e01c";
}
.fui-user:before {
  content: "\e01d";
}
.fui-mail:before {
  content: "\e01e";
}
.fui-lock:before {
  content: "\e01f";
}
.fui-gear:before {
  content: "\e024";
}
.fui-radio-unchecked:before {
  content: "\e02b";
}
.fui-radio-checked:before {
  content: "\e032";
}
.fui-checkbox-unchecked:before {
  content: "\e033";
}
.fui-checkbox-checked:before {
  content: "\e034";
}
.fui-calendar-solid:before {
  content: "\e022";
}
.fui-pause:before {
  content: "\e03b";
}
.fui-play:before {
  content: "\e03c";
}
.fui-check-inverted-2:before {
  content: "\e000";
}
.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
a {
	color: #06c;
	text-decoration: none;
}

body
{
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#ffffff;
    font-family:Arial, sans-serif;
    font-size:18px;
    height:100%;
    padding:0px;
    width:100%;
}


input[type=text],input[type=password]{
	width:120px;
}

input[type=radio]{
    float:left;
}

input[type=checkbox]{
	width:18px;
	height:18px;
}

#EMPTY label{
	vertical-align: top;
}

button {
	padding:3px;
}

p {
    font-size: 18px;
    line-height: 1.72222;
    margin: 0 0 15px;
}

#navigation{
	display:none;
	background:#fff;
	position:absolute;
	max-height:400px;
	overflow:scroll;
	box-shadow:0 0 20px #333;
}

#navigation ul {
	margin:10px;
	padding:0;
	list-style: none;
}


#nav {
	float:left;
	top:40px;
	margin-right:20px;
	overflow:visible;
	color:#fff;
	width:40px;
	height:40px;
}

#content
{
	padding: 20px;
}

#studyList{
	margin-bottom: 20px;
}
#alterListBox{
	display:none;
}
#data{
	display:none;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

#status {
	margin:10px;
}

.admin{
	border-radius: 5px;
	background-color: #e58320;
	width:240px;
	min-height:120px;
	color:#fff;
	padding:20px;
	margin:20px;
	float:left;
}
.admin h1{
	margin-bottom:10px;
}
.uploader{
	padding:5px;
	width:400px;
}

.grid-view-loading
{
	background:url(loading.gif) no-repeat;
}

.grid-view
{
	padding: 15px 0;
}

.grid-view table.items
{
	background: white;
	border-collapse: collapse;
	width: 100%;
	border: 1px #D0E3EF solid;
}

.grid-view table.items th, .grid-view table.items td
{
	font-size: 0.9em;
	border: 1px white solid;
	padding: 0.3em;
}

.grid-view table.items th
{
	color: white;
	background: url("bg.gif") repeat-x scroll left top white;
	text-align: center;
}

.grid-view table.items th a
{
	color: #EEE;
	font-weight: bold;
	text-decoration: none;
}

.grid-view table.items th a:hover
{
	color: #FFF;
}

.grid-view table.items th a.asc
{
	background:url(up.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.items th a.desc
{
	background:url(down.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.items tr.even
{
	background: #F8F8F8;
}

.grid-view table.items tr.odd
{
	background: #E5F1F4;
}

.grid-view table.items tr.selected
{
	background: #BCE774;
}

.grid-view table.items tr:hover.selected
{
	background: #CCFF66;
}

.grid-view table.items tbody tr:hover
{
	background: #ECFBD4;
}

.grid-view .link-column img
{
	border: 0;
}

.grid-view .button-column
{
	text-align: center;
	width: 60px;
}

.grid-view .button-column img
{
	border: 0;
}

.grid-view .checkbox-column
{
	width: 15px;
}

.grid-view .summary
{
	margin: 0 0 5px 0;
	text-align: right;
}

.grid-view .pager
{
	margin: 5px 0 0 0;
	text-align: right;
}

.grid-view .empty
{
	font-style: italic;
}

.grid-view .filters input,
.grid-view .filters select
{
	width: 100%;
	border: 1px solid #ccc;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	overflow:auto;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}
.errorSummary {
	border:2px solid #C00;
	padding:7px 7px 12px;
	margin:0 0 20px 20px;
	background:#FEE;
	font-size:.9em;
}

.error {
	background:#FEE;

}

.errorMessage {
	float:left;
	color:red;
	font-size:.9em;
}

.errorSummary p {
	margin:0;
	padding:5px;
}

.errorSummary ul {
	margin:0;
	padding:0 0 0 20px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

textarea {
	height: 10em;
	width: 100%;
}

.loaNormalRow{
	background-color: #ffffff;
}

.loaHiliteRow {
	background-color: #dddddd;
}

.loaHiliteItem {
    background-color: #bbbbff;
}

.hiliteTextField {
	background-color: #ffffcc;
	border-style: inset;
    // border-width: 3px;
}
.plainTextField {
    background-color: #ffffff;
    border-style: solid;
    border-width: 3px;
}



.graybutton{
	background-color:#555;
	border:solid #999 1px;
	border-radius:4px;
	font-size:18px;
	color:#fff;
	display:block;
	text-decoration:none;
	padding-bottom:2px;
	margin:0 10px 10px 0;
	text-align:center;
	width:120px;
	float:left;
}

hr{
	margin:10px 0;
}
input, select{
	margin:0 5px;
}

.notification{
	float:right;
	color:red;
	font-weight:bold;
}
.question{
	padding:0 0 40px 20px;
}
.orangebutton{
	background-color:#db7522;
	border:solid #c60 1px;
	border-radius:4px;
	font-size:18px;
	color:#fff;
	padding-bottom:2px;
	margin:0 10px 10px 0;
	text-align:center;
	width:120px;
}

td{
	vertical-align:top;
}
.admin td{
	padding:10px;
}
#wrapper
{
	box-shadow:0 0 60px #333;
	font-family:Arial;
	font-size:12px;
    background: #fff;
	height: auto !important;
	width:900px;
	height:100%; /* IE6: treaded as min-height*/
	min-height: 100%; /* real browsers */
	margin: 0 auto -20px; /* the bottom margin is the negative value of the footer's height */
	overflow:hidden;
}

#content{
	padding:30px 40px;
}

#home_button{
	float:right;
}
#topbar{
	color:#666;
	background:#e6e7e8;
	height:60px;
	text-align:right;
	padding-right:40px;
	padding-top:10px;
}

#topbar h3{
	padding-top:10px;
}

#menubar{
	background:url('menubar.png');
	height:40px;
	padding-right:40px;

}
.title {
	float:left;
	font-family:Oswald Light;
	font-size:20px;
	color:#DB6C3E;
    display:block;
	padding:6px 0;
}
.intleft{
	padding:0 3px 0 6px;
	float:right;
	color:#bbb;
	font-size:10px;
    line-height:40px;
	display:block;
	border-left:1px solid #fff;
}

.interviewee{
	padding:0 6px 0 0;
	float:right;
	color:#fff;
	font-size:10px;
    line-height:40px;
	display:block;
	border-right:1px solid #fff;
}

.orangeText{
	width:300px;
	margin-right:40px;
	float:left;
	color:#DB6C3E;
	margin-top:10px;
	margin-bottom:10px;
}

.headingText{
 	font-family:Oswald Light;
	font-size:18px;
}
.questionText{
	background:url("arrow.png") no-repeat;
	float:left;
 	font-family:Arial;
	font-size:22px;
	padding:0 20px 20px 20px;
	width:100%;
}

.multiSelect{
	padding-bottom:5px;
	display:block;
}
.alterPrompt{
	width:560px;
}
.alterList{
	width:200px;
}
#alterListBox{
	height:500px;
	width:180px;
	overflow-y:scroll;
	float:right;
}
.alterPosition{
	color:#DB6C3E;
	width:20px;
	font-size:13px;
	padding:5px;
	font-weight:bold;

}

.alterName{
	font-weight:bold;
	padding:5px;
	font-size:13px;
}

#authorbar
{
    height:60px;
	padding: 0 0 20px 0;
}

ul.authoring {
    padding-left:0;
    margin:0;
    list-style-type:none;
}

ul.authoring li {
    box-sizing: border-box;
    background:#688db7;
	float:left;
	padding:0;
}

ul.authoring li a{
	display:block;
    color:#fff;
	width:100px;
	height:36px;
	padding:5px;
	font-weight:bold;
	text-decoration: none;
}
ul.authoring li a:hover{
	color:#000;
	background:#ccc;
	font-weight:bold;
	text-decoration: none;
}
.smallheader{
	display:block;
	font-weight:bold;
	margin-bottom:5px;
}

.multiRow{
    float:left;
    padding:16px 8px;
    text-align:center;
    min-height:36px;
    display:block;
}
.singleRow{
    padding:8px;
    text-align:left;
    min-height:36px;
}

.multiRow input[type="radio"]{
    float:none;
}
.colorA {
    background:#fff;
}
.colorB {
    background:#f7f7f7;
}

#buttonRow{
    margin-top:20px;
}

#alters-grid.grid-view {
    padding:0;
}

#alters-grid .items {
    margin:0;
}

#alters-grid .items td {
    border:0;

    padding: 5px 5px;
    font-weight:bold;
}

.palette-sun-flower {
  background-color: #f1c40f;
}
#alters-grid .items #ordering {
    color:#DB6C3E;

}

#previous_alters{
	padding:10px;
	clear:left;
}