<div id="status"></div>

<div class="panel panel-default" id="addServer">
    <div class="panel-body">
        <label class="col-xs-3">Add Server</label><input type="text" name="server" ng-model="address" placeholder="URL or IP address">
        <button class="btn btn-xs btn-primary" ng-click='addServer()'>Add</button>
    </div>
</div>

<div class="panel panel-default" ng-repeat="server in servers">
    <div class="panel-heading">
        <b>{{ server.ADDRESS }}</b>
    </div>

    <div  class="panel-body">
        <div ng-if="!studyList[server.ADDRESS]">
            <form id="serverForm">
                <div style="float:left; width:100px;text-align:left">
                    Username
                </div><input type="text" name="LoginForm[username]"><br style='clear:both'>
    
                <div style="float:left; width:100px;text-align:left">
                    Password
                </div><input type="password" name="LoginForm[password]"><br style='clear:both'>
                <button class="btn btn-xs btn-primary" ng-click='connect(server.ADDRESS)'>Connect</button>
            </form>
        </div>
    
        <div class="multi col-sm-12" ng-if="studyList[server.ADDRESS]" ng-repeat="study in studyList[server.ADDRESS]">
            <label class="col-xs-9">{{study.name}}</label>
            <button ng-if="!study.localStudyId" class="btn btn-xs btn-default pull-right margin-top-8" ng-click="importStudy(server.ADDRESS, study.id)">Import</button>
            <button ng-if="study.localStudyId" class="btn btn-xs btn-danger pull-right margin-top-8" ng-click="deleteStudy(study.localStudyId)">Delete</button>
        </div>
    </div>
</div>
