<div id="status" class="alert" style="display:none"></div>
<form id="hiddenForm" method="post" class="hidden">
	<textarea name="data" id="data"></textarea>
</form>
<div ng-repeat="study in studies" class="panel panel-default">
    <div class="panel-heading">
        {{ study.NAME }}
            <button class="btn btn-xs btn-primary pull-right" ng-click="startSurvey(study.ID)" style="margin-left:5px;">New Interview</button>
            <button class="btn btn-xs btn-warning pull-right" ng-if="done[study.ID].length > 0" ng-click="upload(study.ID)">Upload Data ({{ done[study.ID].length }})</button>
    </div>
    <div class="panel-body" ng-if="interviews[study.ID].length > 0">
        <div class="multi col-sm-12" id="interviewList" ng-repeat="interview in interviews[study.ID]">{{ interview.egoValue }}
                 <button ng-if="done[study.ID].indexOf(interview.ID) == -1" class="btn btn-xs btn-success pull-right" ng-click="startSurvey(study.ID, interview.ID)">Continue</button>
                 <button ng-if="interview.ACTIVE == 2" class="btn btn-xs btn-danger pull-right" style="margin-left:5px;" ng-click="deleteInterview(interview.ID)">Delete</button>
                 <span ng-if="done[study.ID].indexOf(interview.ID) != -1" class="label label-default pull-right">Done</span>
         </div>
    </div>
</div>
