Options +FollowSymLinks
IndexIgnore */*

RewriteEngine on
# change RewriteBase if app root is not the server's DocumentRoot.  for esample:
# RewriteBase /egoweb/app/
#RewriteBase /

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php
