RewriteEngine On
RedirectMatch 403 ^/protected/?$
RedirectMatch 403 ^/vagrant/?$
RedirectMatch 403 ^/vendor/?$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)\?*$ index.php [L,QSA]