<?xml version='1.0' encoding='utf-8'?>
<widget id="com.rand.egowebmoble" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>EgoWeb Mobile</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <preference name="permissions"                value="none"/>
<preference name="BackupWebStorage" value="local"/>

<preference name="iosPersistentFileLocation" value="Library" />
    <access origin="*" />

<platform name="ios">
<config-file target="*-Info.plist" parent="NSAppTransportSecurity">
<array>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <boolean>YES</boolean>
    </dict>
</array>
</config-file>
</platform>

</widget>

