<div ng-if="question.ANSWERTYPE == 'TEXTUAL' || question.ANSWERTYPE == 'NUMERICAL'">
    <input id="Answer_{{ question.array_id }}_VALUE" name="Answer[{{ question.array_id }}][value]" ng-model="answers[question.array_id].VALUE" check-answer array-id='{{ question.array_id }}' answer-type='{{ question.ANSWERTYPE }}' subject-type='{{ question.SUBJECTTYPE }}' question-id='{{ question.ID }}' question-alter-id-1='{{ question.ALTERID2 }}'>
</div>

<div class="hidden" ng-if="question.ANSWERTYPE != 'TEXTUAL' && question.ANSWERTYPE != 'NUMERICAL'">
    <input id="Answer_{{ question.array_id }}_VALUE" name="Answer[{{ question.array_id }}][value]" ng-model="answers[question.array_id].VALUE" check-answer array-id='{{ question.array_id }}' answer-type='{{ question.ANSWERTYPE }}' subject-type='{{ question.SUBJECTTYPE }}' question-id='{{ question.ID }}' question-alter-id-1='{{ question.ALTERID2 }}'>
</div>


<div ng-class="{'bg-danger':answerForm.$submitted && errors[question.array_id]}" ng-if="question.ANSWERTYPE == 'MULTIPLE_SELECTION'">
    <div ng-show="question.ASKINGSTYLELIST == true">
        <label ng-show="question.SUBJECTTYPE == 'ALTER'">{{ alters[question.ALTERID1].NAME }}</label>
        <label ng-show="question.SUBJECTTYPE == 'ALTER_PAIR'">{{ alters[question.ALTERID2].NAME }}</label>
    </div>

    <div ng-repeat="option in options[question.array_id]" style="width:120px">
        <input class="answerInput" ng-model="option.checked" type="checkbox" ng-change="multiSelect({{ option.ID }}, {{$index}}, '{{question.array_id}}',{{ question.MAXCHECKABLEBOXES }})">
        <label ng-show="question.ASKINGSTYLELIST == false" for="multiselect-1515_{{ $index }}">{{ option.NAME }}</label><br>
    </div>
</div>

<div class="hidden">
    <input name="Answer[{{ question.array_id }}][otherSpecifyText]" ng-model="answers[question.array_id].OTHERSPECIFYTEXT">
    <input name="Answer[{{ question.array_id }}][skipReason]" ng-model="answers[question.array_id].SKIPREASON">
    <input name="Answer[{{ question.array_id }}][questionId]" value="{{ question.ID }}" type="hidden">
    <input name="Answer[{{ question.array_id }}][questionType]" value="{{ question.SUBJECTTYPE }}" type="hidden">
    <input name="Answer[{{ question.array_id }}][studyId]" value="{{ question.STUDYID }}" type="hidden">
    <input name="Answer[{{ question.array_id }}][answerType]" value="{{ question.ANSWERTYPE }}" type="hidden">
    <input name="Answer[{{ question.array_id }}][alterId1]" value="{{ question.ALTERID1 }}" type="hidden">
    <input name="Answer[{{ question.array_id }}][alterId2]" value="{{ question.ALTERID2 }}" type="hidden">
    <input name="Answer[{{ question.array_id }}][interviewId]" value="{{ answers[question.array_id].INTERVIEWID }}" type="hidden">
</div>
